
*{
margin:0px;
padding:0;

}
header{
  /* height: 20px;
  width: 100%; */
display: flex;
justify-content: space-between;
align-items: center;
padding:25px 160px;


}
.nav-bar{
  font-weight: bolder;
}
.nav-btn{
  padding:15px 30px;
  background-color: white;
  color: #006A50;
  border:1px solid #006A50;
  border-radius: 8px;
  cursor: pointer ;
  
  
}


  

.nav-btn:hover{
  box-shadow: 5px 5px;
}
.bannar-bg{
display: flex;
justify-content: space-around;
height:560px;
width: 1280px;
align-items: center;
padding:20px 200px;
border:0 solid white;
background-color: #C6E4D6;
margin-left: 90px;
border-radius: 25px;
}


.title{
  padding-top: 20px;
  padding-bottom: 20px;
  
}

.bannar-bg h4{
  color: #4e4e4e;
}

.bnanner-btn{
  background-color: #006A50;
  padding: 17px 15px;
  border-radius: 6px;
  border: none;
  color: white;
  cursor: pointer;
}
.pillar-main{
display: flex;
justify-content:center ;
align-items: center;



}
.pillar-1,.pillar-2,.pillar-3,.pillar-4{
  border: 1px solid rgb(233, 230, 230);
  background-color: white;
  height: 180px;
  width: 340px;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 20px;
  
}
.pillar-title{
 padding: 10px;; 
}
.pillar-disciption{
padding-top: 10px;
color:#3a3a3a;
}
.bg-2{
 height: 25px;
 padding: 50px 100px;
 font-weight: bolder;
 font-size: 40px;
}

footer{
  text-align: center;
  padding: 45px;
}

.footer-title{
  height: 20px;
  padding-right: 25px;
  padding-bottom: 40px;
  
}
.footer-img{
  
  padding: 30px ;
  border-top: 1px solid rgb(233, 230, 230); 
  cursor: pointer;
}
.vision-container{

  padding: 50px 60px 30px 110px ;
}
.vision-subtitle{
 padding-top: 25px;
 line-height: 25px;
 color:#5a5959;
 
}
.vision-title{
  font-size: 30px;
}
.vision-boss{
display: flex;
justify-content: center;
align-items: center;
padding: 20px 90px 40px 40px;
gap:30px;


}
.box-v1{
width: 450px;
height: 280px;
padding: 32px 32px;
border:1px solid rgb(224, 222, 222);
border-radius: 8px;
background-color: #c5dbff;

}
.box-v2{
width: 450px;
height: 280px;
padding: 32px 32px;
border:1px solid rgb(224, 222, 222);
border-radius: 8px;
background-color:#C6E4D6 ;

}

.box-v3{
width: 450px;
height: 280px;
padding: 32px 32px;
border:1px solid rgb(224, 222, 222);
border-radius: 8px;
background-color: #F7EBCF;
}
.vision-title{
  padding-top:20px;
  padding-bottom:20px ;
}
.vision-disciption{
  padding-bottom: 20px;
}
.btnv-1{
  padding: 12px 15px;
  border-radius: 7px;
  background-color: #5490F5;
  border: none;
   color: white;
   
}
.btnv-2{
  padding: 12px 15px;
  border-radius: 7px;
 background-color: #7edb04;
  color: white;
   border: none;
}

.btnv-3{
  padding: 12px 15px;
  border-radius: 7px;
  border: none;
  background-color:#FFC239;
  color: white;
}
.btnv-1,.btnv-2,.btnv-3:hover{
cursor: pointer;


}
.recent-container{
  padding:40px 50px 20px 100px;
}
.recent-title{
  padding-bottom: 30px;
  font-size: 24px;
}
.news-btn{
  background-color: #006A50;
  padding: 17px 15px;
  border-radius: 6px;
  border: none;
  color: white;
  cursor: pointer;
}
  
.recent-boss{
padding: 20px 40px 40px 120px;


}
.recent-box1,.recent-box3{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 350px;
  width: 95%;
  border: 1px solid rgb(228, 224, 224);
  background-color: #f7f7f7;
  border-radius: 10px;
   box-shadow:2px 2px rgb(157, 162, 167);
}
.recent-box2{
  display:flex;


justify-content:flex-start;
align-items: center;
text-align: justify;
border: 1px solid rgb(228, 224, 224);
padding:10px;
margin-bottom: 40px;
background-color: #f7f7f7;
 border-radius: 10px;
 width: 95%;
 box-shadow:2px 2px rgb(157, 162, 167);
}
.recent-box1{
  margin-bottom: 40px;
}

.recent-left{
  padding: 20px 60px 10px 30px;

}

.recent-discription{
  padding:20px 80px 20px 0px;
}
.subscibe-container{
padding:40px ;
height:270px;
width: 1600px;
justify-content: center;
text-align: center;
align-items: center;
border-left: 20px;
border: 1px solid black;
margin-left: 120px;
border-radius: 9px;
background-color: #C6E4D6;

}
.input-1{
 padding: 17px 200px;
 border: none;
 border-radius: 6px;

 
 
}
.subscribe-title{
  padding: 15px;
  font-size: 25px;
  
}
.subscribe-subtitle{
  padding-bottom: 20px;
  color: #585858;
}
.bnanner-btn2{
background-color: #006A50;
  padding: 17px 30px;
  border-radius: 6px;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: 2px;
 
  

}
.last-title{
  color: #7f817b;
  padding-top: 10px;
}
.sub-input{
  margin-left: 20px;
}
.youns-container{

  height: 256px;
  width:1550px;
  border: 1px solid rgb(228, 225, 225);
  padding: 10px 30px;
  margin-left: 115px;
  border-radius: 8px;
}
.youns-titile{
 padding: 25px 25px;
 line-height: 25px;
background-image: url(./B11A1--assignment-1/assets/quote-bg.png);
background-repeat: no-repeat;
font-size: 17px;
 
 
}
.youns-header{
  padding-left: 20px;
  padding-bottom: 6px;
  padding-top: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.youns-subtitle{
  color: #a5a5a5;
  padding-left: 20px;
}
.donate-container{
height: 470px;
  width:1570px;
padding:50px 45px;
border: 1px solid rgb(236, 231, 231);
margin-left: 115px;
border-radius: 7px;
margin-bottom: 80px;
margin-top: 50px;
background-color: whitesmoke;



}
.donate-boxbos{

  padding: 30px 20px;
  display: flex;
  align-items: center;
  gap:30px;
   padding-left: 100px;
  
}
.donate-b1,.donate-b2,.donate-b3,.donate-b4{
  height: 50px;
  width: 170px;
 padding: 35px 35px;
 border: 1px solid black;
  border-radius: 16px;
    border: none;
    background-color: #eaecea;
  
}

.donate-4{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  
}
.donate-subtitle{
padding-left: 250px;
padding-top: 15px;
font-size: 17px;
text-align: center;


 
}
.donate-boxbos :hover{
  background-color: #C6E4D6;
}
.donate-btn{

  background-color: #006A50;
  padding: 17px 35px;
  border-radius: 6px;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: 800px;
  margin-top: 20px;
  

}

.donate-input{

  padding: 20px 440px;
  margin-left: 350px;
  border-radius: 8px;
  border: none;
  font-size: 15px;
}
.opinaion-h1{
  font-size: 35px;
  padding: 65px 95px;
}
.op-11{
padding: 55px 95px;
font-size: 39px;




}
.opnion-boos{
height: 250px;
width: 1620px;
border: 1px solid rgb(243, 242, 242);
margin-left: 110px;
border-radius: 5px;
padding: 100px 30px;
justify-content: center;
border-radius: 10px;
padding-top: 50px;
}
.opinion-box1{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 20px;
  border-right: 1px solid black;
   border-left: 1px solid black;
  
}
.opinion-box2{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 20px;
   border-right: 1px solid black;
   border-left: 1px solid black;
}
.opinion-box3{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid black;
   border-right: 1px solid black;
   border-left: 1px solid black;
  

}
.opinon-head2{
  display: flex;
  justify-content: space-evenly;
  gap:700px;
  border-bottom: 1px solid black;
  padding: 20px;
  background-color: #C6E4D6;
  border-top: 1px solid black;
   border-right: 1px solid black;
   border-left: 1px solid black;
}
#agree{
  padding: 10px 25px;
  border: none;
  background-color: #85bba3;
  border-radius: 2px;
}
